<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
           Request Headers Parser
        </h1>
        <h3>
          Information Obtained by the API:
        </h3>
        <ul class="align-left">
          <li><code>ipaddress:</code> e.g. 127.0.0.1, 192.113.85.114</li>
          <li><code>language:</code> e.g. 'en-us'</li>
          <li><code>software:</code> e.g. 'MacOSX', 'Windows 10'</li>
        </ul>
        <p>
          Navigate in to the <code>/api/whoami</code> in your url or navigate here to try it out <a href="/api/whoami">Who Am I?</a>
        </p>
      </div>
   </body>

</html>
