<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
           Timestamp Microservice
        </h1>
        <span>built with Moment.js</span>
        <h2>
          How to Use:
        </h2>
        <p>
          Add a date in the URL address bar, e.g. December 29, 2018
        </p>
        <code>https://fcc-backend-01.glitch.me/December 29, 2018</code>
        <span><strong>OR</strong></span>
        <p>
          You can add a date in Unix format, e.g. 1520182029
        </p>
        <code>https://fcc-backend-01.glitch.me/1450137600</code>
        
        <h2>
          Output:
        </h2>
        <code>{unix: "115223223", humanDate: "December 29, 1988}</code>
      </div>
   </body>

</html>
